.regist-box {
    padding: 0 16px;
    margin: 0 auto;
    max-width: 752px;
    min-height: 100vh;
}

.site-header {
    box-sizing: border-box;
}

.main-nav {
    display: flex;

    border-bottom: 2.5px solid rgb(189, 189, 189);
}

.nav-item {
    box-sizing: border-box;
    display: inline-block;

    margin: 15px;
}

.nav-item-current {
    box-sizing: border-box;
    display: inline-block;
    padding: 5px;
    margin: 15px;
    border-bottom: 2.5px solid black;
    font-weight: bold;
}

.banner-aside {
    box-sizing: border-box;
    display: flex;

    margin: 20px 5px;
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
}

.banner-section {
    display: flex;
}

.img-logo {
    box-sizing: border-box;

    padding: 10px;
    margin: 10px;
    gap: 20px;
}

header > aside > div > p {
    box-sizing: border-box;
    display: inline-block;

    padding: 5px;
    margin: 10px;
}

.banner-description {
    font-size: 12px;
    font-weight: bold;
}

.main-content {
    box-sizing: border-box;
    max-width: 752px;
    height: 100%;

    display: block;
}

.regist-frm {
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    width: 100%;
}

.title-input {
    box-sizing: border-box;
}

main > form > section > input {
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    border: transparent;
    outline: none;
}

.title {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
}

.tag {
    width: 630px;
    font-size: 20px;
}

.content-input {
    box-sizing: border-box;
    margin-bottom: 20px;
}

main > form > section > div {
    border: none;
}

.information-input {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-height: 730px;

    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;

    resize: none;
    outline: none;
}

.input-example {
    margin: 0 20px;
    font-weight: bold;
    line-height: 400%;
}

main > form > section > div > ul > li {
    margin: 0 25px;
    line-height: 200%;
}

main > form > section > div > ul > li::before {
    margin-right: 10px;
    content: '\2022';
    color: black;
}

.button-click {
    box-sizing: border-box;

    padding: 5px;
    margin: 5px;

    display: flex;
    justify-content: flex-end;
}

.cancel-btn {
    box-sizing: border-box;

    padding: 10px 25px;
    margin: 0 5px;

    background-color: white;
    border: 0.5px solid rgb(214, 214, 214);
    border-radius: 4px;
}

.register-btn {
    box-sizing: border-box;

    padding: 10px 25px;
    margin: 0 5px;

    background-color: black;
    border: 0.5px solid black;
    border-radius: 4px;
    color: white;
}